@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
	font-family: 'Cormorant', serif;
	font-weight: 400;
}

.App {
	background-color: #25316d;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-weight: 600;
  font-size: 2em;
  color: #fef5ac;
}
.container {
	display: flex;
	justify-content: center;
}
.activity {
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
  font-size: 1.5em;
  background-color: #B2C8DF;
  width: 100vh;
  height: 30vh;
  margin: 15px 0;
  border-radius: 15px;
}

button {
	background-color: #fef5ac;
	border: none;
	line-height: 1.5;
	padding: 1em 4em;
	letter-spacing: 0.05rem;
	border-radius: 15px;
	cursor: pointer;
	font-weight: 600;
  font-size: 1em;
}

button:hover{
  background-color: #FFD56F;
}
